<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<jmxConfigurator />
	<property name="LOG_HOME" value="d:/logs" />

	<!--这里可以将spring env中的配置信息引用进来，供日志配置使用。此处引入了一个server.port的配置命名为port，在stdout的appender中使用该配置${port} -->
	<springProperty scope="context" name="port" source="server.port" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger{80}- %msg,the guid is %X{guid}%n%n
			</pattern>
		</layout>
	</appender>
	<!-- 按照每天生成日志文件 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 日志文件输出的文件名 -->
			<FileNamePattern>${LOG_HOME}/myApp.log.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg,the guid is %X{guid}%n%n</pattern>
		</layout>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>	
	<root>
		<level value="info" />
			<appender-ref ref="stdout"></appender-ref>
	       <appender-ref ref="FILE"></appender-ref>
		
	</root>
</configuration>